<h1>Your Cart</h1>

<% if @cart.any? %>
<div class="cart-boxes">
    <% @cart.each do |product_id| %>
    <% product = Product.find_by(id: product_id) %>
    <div class="cart-item">
        <p><strong>Product:</strong> <%= product.name %></p>
        <p><strong>Price:</strong> <%= number_to_currency(product.price) %></p>
    </div>
    <% end %>
</div>

<%= link_to 'Checkout', new_order_path %>
<% else %>
<p>Your cart is empty.</p>
<%= link_to 'Continue Shopping', products_path %>
<% end %>