.product-grid a {
    text-decoration: none;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;

}

.product-card {
    border: 1px solid #ddd;
    padding: 15px;
    border-radius: 8px;


}